{
	"trailingComma": "all",
	"tabWidth": 2,
	"printWidth": 90,
	"singleQuote": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		}
	]
}
